<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p> <%= @restaurant.category %></p>
<p> <%= @restaurant.phone_number %></p>
<p> <% @restaurant.reviews.each do |review| %></p>
 <p> <%= review.rating %><br><%= review.content %></p>
 <hr>
<% end %>
<%= link_to "View all restaurants", restaurants_path %>
<%= link_to "Ajouter une review", new_restaurant_review_path(@restaurant) %>
